@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Projeto ASP.NET MVC</h1>
    <p>Projeto pessoal feito com o framework ASP.NET para eu aprender 
        o framework em si, Entity framework e Banco de dados(SQLite).
</div>
